body {
    background-color: #181818;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #333;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff36a3, #0e9eef);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0e9eef, #ff36a3);
}

/* Colori e bottoni */
.btn-outline-light {
    border-color: #0E9EEF !important;
    color: #0E9EEF !important;
}

.btn-outline-light:hover {
    background-color: #0E9EEF !important;
    border-color: #0E9EEF !important;
    color: #fff !important;
}

.btn-light {
    background-color: #EE10B0;
    border-color: #EE10B0;
    color: #fff;
}

.btn-light:hover {
    background-color: #fc4eca;
    border-color: #fc4eca;
    color: #fff;
}

.bg-dark-custom {
    background-color: #181818;
}

.bg-card {
    background-color: #1f1f1f;
    border: 1px solid #0e9eef;

}

.text-pink {
    color: #EE10B0;
}

.text-blue {
    color: #0E9EEF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.sidebar-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    border-right: 2px solid #EE10B0;
    box-shadow: 0 0 15px #EE10B0;
    z-index: 1030;
    overflow-y: auto;
}

.sidebar-fixed .nav-link {
    color: white;
    transition: all 0.3s;
    padding: 10px;
}

.sidebar-fixed .nav-link:hover {
    background-color: #EE10B0;
    color: white;
    padding-left: 30px;
}

.sidebar-fixed h6 {
    color: #EE10B0;
    text-transform: uppercase;
    margin-top: 1rem;
}


.offcanvas-bg {
    background-color: #181818;
}

@media (min-width: 768px) {
    .content {
        margin-left: 250px;
    }
}

.sidebar h6 {
    color: #EE10B0;
    text-transform: uppercase;

}

a.nav-link {
    color: white;
    transition: all 1s;
    padding: 10px;
}

a.nav-link:hover {
    background-color: #EE10B0;
    color: white;
    padding: 10px 30px;
}


/* Header */
.bg-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 85%, rgb(0, 0, 0) 100%), url(/public/images/fantasy-dj-illustration.jpg);
    min-height: 700px;
    background-size: cover;
    border-radius: 20px;
}

a.nav-link-custom {
    color: white;
    transition: all 1s;
    text-decoration: none;
}

a.nav-link-custom:hover {
    color: #EE10B0;
}

.bg-header h1 {
    font-size: 70px;
}

input.form-control {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: #3b3b3ba2;
    border: 1px solid rgb(19, 19, 19);
    cursor: pointer;
    color: white;
}

textarea.form-control {
    background-color: #3b3b3ba2;
    border: 1px solid rgb(19, 19, 19);
    color: white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.445) !important
}

/* Card */
.card {
    border: none;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #1f1f1f;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    border-radius: 10px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

.card h6 {
    color: white;
    text-transform: none;

}

.view-all-btn {
    background-color: #1f1f1f;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background 0.3s;
}

.view-all-btn .plus {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text {
    font-size: 15px;
    color: white;
    margin-bottom: 5px;
}

.view-all-btn:hover {
    background-color: #333;
}

/* Sezione Rows Table */

.grid-header {
    color: white;
    font-weight: bold;
    background-color: #1f1f1f;
    border: 15px solid #181818;
    border-bottom: none;
}

.grid-row {
    color: white;
    background-color: #1f1f1f;
    padding: 15px;
    border: 15px solid #181818;
    border-top: none;
}

.heart-icon {
    color: #fc4eca;
    cursor: pointer;
}

.btn-outline-light {
    border-color: #fc4eca;
    color: #fc4eca;
}

.btn-outline-light:hover {
    background-color: #fc4eca;
    color: #fff;
}

@media (max-width: 767px) {

    .grid-header,
    .grid-row {
        font-size: 0.9rem;
        padding: 10px;
    }
}